*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%; <!--10px ga teng-->
    
    }
body{
    height: 100%;
    flex-direction: column;
    font-family: 'Rubik',"Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color:#4a4b4c;
    background-color: #fff;
}
main{
    flex-grow: 1;
}
.container{
    width: 100%;
    margin-top: 10vh;
    max-width: 1240px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER-STYLE */
header{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .logo{
    font-size: 3rem;
    font-weight: bold;
    color: #4a4b4c;
    text-shadow: 0 0 5px grey;
}
.navbar-list {
    display: flex;
    align-items: center;
}
.navbar-item:not(:last-child){
    margin-right: 2rem;
}
.contact {
padding: 1rem 3rem;
background-color: aqua;
border-radius: 1rem;
}
.contact a{
    color: #4a4b4c;
}

/* FOOTER-STYLE */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addres-list{
    display: flex;
    align-items: center;
    flex-direction: column;
}




/* MAIN-STYLE */
.cards {
display: flex;
align-items: center;
justify-content: center;
column-gap: 1rem;
}
.card {
    width: 100%;
    position: relative;
    user-select: none;
    max-width: 7rem;
    min-width: 3rem;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5rem;
    cursor: pointer;
    flex: 0.1;
    transition: all 0.7s ease;
}
.active{
    flex: 5;
    position: relative;
    max-width: 30rem;
    min-width: 15rem;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5rem;
}
.active h4{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.card__title {
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: 0.1rem;
    color: rgb(238, 235, 235);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}

@media (max-width:500px) {
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}